@import '../../shared';

:host {
  @include fullScreen();

  display: flex;
  position: relative;
}

app-leaderboard {
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: $zIndexOverlay;
}

app-field {
  @include fullScreen();
  z-index: $zIndexGameField;
}

app-player {
  position: absolute;
  top: 100px;
  left: 20px;
}
